<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Recherche
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Liste des livres</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let book of books; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveBook(book, i)"
        >
          {{ book.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
        Supprimer tous les livres
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentBook">
        <h4>Livre</h4>
        <div>
          <label><strong>Titre:</strong></label> {{ currentBook.title }}
        </div>
        <div>
          <label><strong>Auteur:</strong></label>
          {{ currentBook.auteur }} 
        </div>
        <div>
          <label><strong>Prix:</strong></label>
          {{ currentBook.prix }}€
        </div>
        <a class="badge badge-warning" routerLink="/books/{{ currentBook.id }}">
          Editer
        </a>
      </div>
  
      <div *ngIf="!currentBook">
        <br />
        <p>Cliquer sur un livre pour voir sa description.</p>
      </div>
    </div>
  </div>